/*CSS document*/



body {
    background-color: #F9FBFF;
}

div.container {
    max-width: 40em;
    /* justify-content: center; */
    margin: 0 auto;
    background: red;
    /* overflow: hidden; */
}

main {
    border: gray 2px solid;
}

p, figcaption, h3, h2, h1{
    font-family: komet, sans-serif;
    font-style: normal;
}


h3, h2{
    text-transform: uppercase;
}

figure {
    margin: 2em 0em;
    border: solid 2px teal;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #00030A;
}

figcaption{
    font-weight: 100;
    font-size: .8em;
}


h1 {
    padding-top: .5em;
    margin-bottom: 0em;
    border-bottom: .05em solid #00030A;
    width: 10em;
}

h2{
    font-weight: 500;
    font-size: 1.7em;
}

h3 {
    font-weight: 100;
    font-size: 1.6em;
    margin: .5em 0em 0em;
}

article h3{
    font-weight: 400;
    font-size: 1em;
    margin-top: 1.5em;
    margin-bottom: .2em;
}

section {
    box-shadow: .3em .3em 1em #00030a14;
    margin: 0 auto 3em;
    padding: 2em;
    border: solid orange 2px;
}


section a:hover{
    color: #18468A;


}

p{
    font-weight: 300;
    font-size: 1em;
}

main p {
    margin: .5em 0em 0em;
}

article p{
    padding: 0em;
    margin-top: 0em;
}


nav ul {
    list-style-type: none;
    padding: 0em 0em 1em;
    border-bottom: .1em solid #00030A;
}

nav ul li {
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    padding-right: .9em;
    text-transform: uppercase;
    font-size: 2em;
}

nav ul li a {
    text-decoration: none;
    color: #00030A;
}

nav ul li a:hover {
    color: #C13737;
}

li:nth-child(1) a {
    background-color: #ffffff;
}

li:nth-child(2) a {
    background-color: #edf1f3;
}

li:nth-child(3) a {
    background-color: #ffffff;
}

li:nth-child(4) a {
    background-color: #edf1f3;
}

li:nth-child(5) a {
    background-color: #ffffff;
}


aside{
    /* box-shadow: .0em .0em 0em #00030a14; */
    padding-top: 0em;
    margin: 0em 2em;
}

@media screen and (min-width: 60em)
{
    div.container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1em;
    }

    header{
        grid-column: 1/3;
    }

    main{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 1em;
    }

    section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;

    }

    section.mainstory figure{
        flex: 1 0 10em;
    }

    /* section.mainstory figure img{
        height: 100%;
    } */

    section.mainstory h3{
        flex: 0 0 auto;
        margin: 0;
    }

    section.mainstory p{
        flex: 0 0 auto;
        margin: 0;
    }


    aside{
        grid-column: 2/3;
    }

}





