/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; display: block;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
}

body{
    background-color: rgb(221, 221, 221);
}

header{
    background-color: rgb(255, 136, 0);
    padding: 4rem 2rem 2rem;
}

div.container{
    max-width: 70em;
    margin: auto;
    background-color: rgb(250, 250, 250);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0rem 0rem 3rem;
    padding-top: 3rem;
}

figure{
    display: grid;
    grid-template-columns: 75% auto;
}

figcaption{
    padding: 2rem .5rem;
}


h1{
    font-family: Sutro, serif; 
    letter-spacing: 0.01em; 
    font-weight: 510;  
    font-style: normal;
    font-size: 2em;
    color: rgb(250, 250, 250);
}

h2{
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    font-size: 1.5em;
    color: rgb(249, 221, 189);
    padding: .5rem 0rem 0rem;
}

figcaption{
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
    margin: .8rem 2rem;
}

h3{
    font-family: Sutro, serif;  
    font-weight: 500;  
    font-style: normal;
    text-transform: uppercase;
    color: rgb(255, 136, 0);
    font-size: 1.2em;
    letter-spacing: 0.1em;
    margin: 1rem 0rem 0rem;

}

.ingredients, .directions 
{
    margin: 1rem 2rem 2.5rem;
    border-top: 0.2em solid rgb(255, 150, 55);
}

ul, ol{
    font-family: poppins, sans-serif;  
    font-weight: 500;  
    font-size: 1em;
    margin: .7rem 0rem;  
}

li{
    display: list-item;
    padding: .4rem 0rem;
    list-style-position: outside;
}

footer{
    font-family: poppins, sans-serif;  
    font-weight: 500;  
    font-size: 1em;
    color:rgb(250, 250, 250);
    background-color: rgb(255, 136, 0);
    padding: 1rem 2rem;
}

